body{
font-family:Arial, sans-serif;
text-align:center;
background:#222;
color:white;
}

#board{
display:grid;
grid-template-columns:repeat(8,70px);
width:560px;
margin:auto;
}

.square{
width:70px;
height:70px;
}

.black{
background:#444;
}

.white{
background:#eee;
}
